@model User_Login_MVC.DTO.Tb_PersonasFisicas

@{
    ViewBag.Title = "registrarPersona";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title> Registro </title>

    <style type="text/css">
        #form1 {
            height: 847px;
        }
    </style>
</head>

<body>
    <!--<form id="form1" runat="server" style="background-position: left top; background-repeat: no-repeat; background-attachment: inherit; position: inherit; z-index: inherit; margin-bottom: 0px; /*background-image: url('../../Imagenes/fondoAzul2.jpg');*/">
    </form>-->

    <h2> Registrar persona </h2>

    <div class="row">
        @using (Html.BeginForm("RegistrarPersona", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", placeholder = "Nombre", autofocus = "autofocus" })
                @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.TextBoxFor(x => x.ApellidoPaterno,
                   new { @class = "form-control", placeholder = "Apellido Paterno" })
                @*@Html.ValidationMessageFor(x => x.Apellidos, null, new { @class = "text-danger" })*@
            </div>

            <div class="form-group">
                @Html.TextBoxFor(x => x.ApellidoMaterno,
                   new { @class = "form-control", placeholder = "Apellido Materno" })
            </div>

            <div class="form-group">
                @Html.TextBoxFor(x => x.RFC,
                   new { @class = "form-control", placeholder = "RFC" })
            </div>

            <div class="form-group">
                @Html.TextBoxFor(x => x.FechaNacimiento, new { @class = "form-control", placeholder = "Fecha de nacimiento" })
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit"> Registrar persona </button>
            </div>
        }
    </div>

</body>
</html>
